<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.dunnzilla.mobile"
      android:versionName="0.4.16" android:versionCode="24">
    <uses-sdk android:minSdkVersion="7" />
    
    <!--  To let you pick a contact: -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!--  To place a call: -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!--  To update a Reminder that you have called someone even if you did not initiate the call using this app: -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <!--  For future use: to visit a web site, open a port, or other wacky sysadmin type of forgetmenots -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--  To start the service upon bootup -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!--  To determine if the service is currently running -->
    <uses-permission android:name="android.permission.GET_TASKS" />
     

    <application android:icon="@drawable/icon" android:label="@string/app_name">
		<!--  ================================================== -->
        <activity android:name="ForgetMeNot"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<!--  ================================================== -->
		<activity android:name=".Prefs">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<!--  ================================================== -->
		<activity android:name=".CreateReminder" android:label="@string/cr_title">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<!--  ================================================== -->
		<activity android:name=".EditReminder" android:label="@string/er_title">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<!--  ================================================== -->
		<activity android:name=".About" android:label="@string/about_title">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<!--  ================================================== -->
		<service android:name="ReminderService" />
		<receiver
			android:name=".ReminderServiceReceiver"
			>
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
		<!--  ================================================== -->
		<receiver android:name="OutboundCallReceiver" android:exported="true"> 
            <intent-filter android:priority="0"> 
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" /> 
                <category android:name="android.intent.category.DEFAULT" /> 
            </intent-filter> 
        </receiver> 
		<!--  ================================================== -->
		<activity android:name=".DisplayReminder" android:label="Reminder">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="reminder" host="com.dunnzilla.mobile" /> 
			</intent-filter>
		</activity>
		<!--  ================================================== -->
		<activity android:name=".DevMessage" android:label="Random Message">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<!--  ================================================== -->
		<provider android:name="com.dunnzilla.mobile.ReminderProvider"
          android:authorities="com.example.autos.reminderprovider" 
          />
        <!--  ================================================== -->
	</application>
</manifest>
